body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color:brown;
}

div.bici {
    background-color: white;
    border-radius: 3px;
    padding: 8px;
    width: 200px;
    display: inline-block;
    position: relative;
}

div.bici img.portada{
    border-radius: 3px;
    width: 200px;
    height: 200px;
}

div.bici img.boton-encima{
    position: absolute;
    top: 8px;
    right:6px;
}

div.bici div.titulo{
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 8px;
    padding-left: 3px;
}

div.bici div.subtitulo{
    font-family: Tahoma, Geneva, sans-serif;
    padding-left: 3px;
    font-size: 14px;
}

div.bici div.descripcion{
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 13px;
}

div.bici div.botones{
    padding-top: 18px;
    text-align: center;
    padding-bottom: 8px;
}

div.bici img.boton{
    width: 32px;
    height: 28px;
    padding-left: 30px;
    padding-right: 30px;
}

div.bici div.vertical-line{
    border-left: 2px solid black;
    height: 28px;
    display: inline-block;
}
