div.margin.top{
    top: 0px;
    background-color: blue;
}

div.margin.bottom{
    bottom: 0px;
    background-color: red;
}

div.margin{
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    line-height: 50px;
}

div.center-block{
    position: absolute;
    top:50%;
    left:50%;
    height:300px;
    width:500px;
    margin:-150px 0 0 -250px;
    background-color: royalblue;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
}

div.circle{
    position: absolute;
    border-radius: 50%;
    border-color: royalblue;
    background-color: white;
    border-width: 20px;
    border-style: solid;
    width: 100px;
    height: 100px;
    z-index: 40;
}

div.circle.top{
    top:-75px;
}

div.circle.bottom{
    bottom: -75px;
}

div.circle.left{
    left: -75px;
}

div.circle.right{
    right:-75px;
}